Repository columnflow/columnflow, pull requests merged in 2023-12, with the labels that each got.

#341 Added `PlotMLResults` Task to create CM
  columnflow/plotting/plot_ml_evaluation.py
  columnflow/tasks/ml.py
Labels: enhancement, ml

#364 implement custom_style_config plotting parameter
  columnflow/tasks/framework/plotting.py
Labels: plotting

#371 ROC curve implementation + tests for ML plotting
  columnflow/plotting/plot_all.py
  columnflow/plotting/plot_ml_evaluation.py
  columnflow/plotting/plot_util.py
  columnflow/tasks/ml.py
  tests/__init__.py
  tests/run_tests
  tests/test_plotting.py
Labels: enhancement, testing, plotting
