Repository columnflow/columnflow, pull requests merged in 2025-02, with the labels that each got.

#539 Include hist hook for datacards
  columnflow/hist_util.py
  columnflow/inference/__init__.py
  columnflow/tasks/cms/inference.py
  columnflow/util.py
  docs/api/types.rst
  docs/api/util.rst
  docs/conf.py
  tests/run_tests
  tests/test_inference.py
Labels: documentation, enhancement, testing, priority-high

#623 update sf variations names
  columnflow/production/cms/electron.py
Labels: priority-high, fix, CMS

#594 Utility functions and producers for generic delta-R matching
  analysis_templates/cms_minimal/law.cfg
  columnflow/production/cms/matching.py
  columnflow/production/matching.py
  columnflow/production/util.py
Labels: enhancement, priority-medium, CMS

#636 Fix bugs in the cms_minimal analysis template
  analysis_templates/cms_minimal/__cf_module_name__/calibration/example.py
  analysis_templates/cms_minimal/__cf_module_name__/config/analysis___cf_short_name_lc__.py
  analysis_templates/cms_minimal/__cf_module_name__/inference/example.py
  analysis_templates/cms_minimal/__cf_module_name__/ml/example.py
  analysis_templates/cms_minimal/__cf_module_name__/selection/example.py
  analysis_templates/cms_minimal/law.cfg
Labels: priority-medium, fix, CMS
