Repository columnflow/columnflow, pull requests merged in 2025-03, with the labels that each got.

#645 Refactor/taf init fixes
  columnflow/tasks/cms/inference.py
  columnflow/tasks/histograms.py
  columnflow/tasks/ml.py
  columnflow/tasks/union.py
Labels: fix, ml

#625 Cleanup top pt weight producer.
  columnflow/production/cms/top_pt_weight.py
Labels: priority-medium, CMS

#652 Documentation update for refactoring
  .markdownlint
  README.md
  docs/Makefile
  docs/api/calibration/cms/index.rst
  docs/api/calibration/cms/jets_coffea.rst
  docs/api/histograming/default.rst
  docs/api/histograming/index.rst
  docs/api/index.rst
  docs/api/reduction/default.rst
  docs/api/reduction/index.rst
  docs/api/selection/index.rst
  docs/api/selection/matching.rst
  docs/api/selection/util.rst
  docs/api/types.rst
  docs/api/weights/all_weights.rst
  docs/api/weights/empty.rst
  docs/api/weights/index.rst
  docs/conf.py
  docs/requirements.txt
  docs/user_guide/02_03_transition.md
  docs/user_guide/building_blocks/hist_producers.md
  docs/user_guide/building_blocks/index.rst
  docs/user_guide/building_blocks/reducers.md
  docs/user_guide/debugging.md
  docs/user_guide/index.rst
  docs/user_guide/structure.md
  docs/user_guide/task_array_functions.md
Labels: documentation, priority-medium

#654 Fix pu weight extraction.
  columnflow/production/cms/pileup.py
Labels: priority-high, fix, CMS

#655 typo on inference task
  columnflow/tasks/cms/inference.py
Labels: priority-high, fix, CMS

#627 Feature: Add mechanism to transform hist into version with equally spaced b ins
  columnflow/hist_util.py
  columnflow/plotting/plot_all.py
  columnflow/plotting/plot_functions_1d.py
  columnflow/plotting/plot_functions_2d.py
  columnflow/plotting/plot_util.py
Labels: priority-low, plotting
